#Banana{
    width: 49%;
    height: 83%;
    float: left;
    margin-left: 0px;
    text-align: center;
    font-size: 100;
    color: yellow;
    background-color: white;
   border: 3px solid yellow;
    
}

#img2{
    height: 500px;
}

#banana:hover {
    font-size: 100px;
    color: yellow;
    border: 5px solid yellow;
    text-shadow:3px 3px 20px  yellow ;
    border-radius:10px ;
  }

  .bananadiff{
    margin-top: 30px;
    width: 49%;
    height: 99%;
    float: left;
    text-align: left;
    background-color: white;
    border: 3px solid red;
  }